spring:
  application:
    name: sso-client-system-1

server:
  port: 17001

logging:
  level:
    root: INFO
    cn:
      dev33:
        satoken: debug
    org:
      springframework:
        web:
          servlet:
            DispatcherServlet: DEBUG

print-server-address:
  ignore-parent-context: true

info:
  app: ${spring.application.name}

sa-token:
  is-log: true
  timeout: 86400
  active-timeout: 1200
  sso-client:
    client: ${spring.application.name}
    # SSO-Server端主机地址
    server-url: http://sso-server.com:17000
    # 是否打开单点注销接口
    is-slo: true
    is-http: true
    secret-key: "kRt9&b7Bv0GsTvgU0e#YrIo$hC$hpz!!"
